div.piano
{
	border-top: 2px solid rgb(33, 33, 33);
	width: 980px;
	height: 240px;
	margin: 0px auto;
	padding-top: 10px;
	background: rgb(0, 0, 0);
	background: -webkit-linear-gradient(-50deg, rgb(0, 0, 0), rgb(50, 50, 50), rgb(0, 0, 0), rgb(100, 100, 100), rgb(50, 50, 50) 75%);
	background: -moz-linear-gradient(-50deg, rgb(0, 0, 0), rgb(50, 50, 50), rgb(0, 0, 0), rgb(100, 100, 100), rgb(50, 50, 50) 75%);
	background: -ms-linear-gradient(-50deg, rgb(0, 0, 0), rgb(50, 50, 50), rgb(0, 0, 0), rgb(100, 100, 100), rgb(50, 50, 50) 75%);
	background: -o-linear-gradient(-50deg, rgb(0, 0, 0), rgb(50, 50, 50), rgb(0, 0, 0), rgb(100, 100, 100), rgb(50, 50, 50) 75%);
	background: linear-gradient(-50deg, rgb(0, 0, 0), rgb(50, 50, 50), rgb(0, 0, 0), rgb(100, 100, 100), rgb(50, 50, 50) 75%);
}

ul#piano
{
	display: block;
	width: 100%;
	height: 270px;
	margin: 10px;
}

ul#piano li
{
	float: left;
	display: inline;
	width: 40px;
	position: relative;
}

ul#piano li div
{
	display: block;
	height: 220px;
	background: rgb(255, 255, 235);
	background: -webkit-linear-gradient(0deg, rgb(255, 255, 255), rgb(234, 234, 225));
	background: -moz-linear-gradient(0deg, rgb(255, 255, 255), rgb(234, 234, 225));
	background: -ms-linear-gradient(0deg, rgb(255, 255, 255), rgb(234, 234, 225));
	background: -o-linear-gradient(0deg, rgb(255, 255, 255), rgb(234, 234, 225));
	background: linear-gradient(0deg, rgb(255, 255, 255), rgb(234, 234, 225));
	border: 1px solid rgb(180, 180, 180);
	-webkit-box-shadow: inset 0px 1px 0px  rgb(255, 255, 235), inset 0px -1px 0px rgb(255, 255, 235), inset 1px 0px 0px rgb(255, 255, 235), inset -1px 0px 0px rgb(255, 255, 235), 0px 4px 3px rgba(0,0,0,0.7);
	-moz-box-shadow: inset 0px 1px 0px  rgb(255, 255, 235), inset 0px -1px 0px rgb(255, 255, 235), inset 1px 0px 0px rgb(255, 255, 235), inset -1px 0px 0px rgb(255, 255, 235), 0px 4px 3px rgba(0,0,0,0.7);
	box-shadow: inset 0px 1px 0px  rgb(255, 255, 235), inset 0px -1px 0px rgb(255, 255, 235), inset 1px 0px 0px rgb(255, 255, 235), inset -1px 0px 0px rgb(255, 255, 235), 0px 4px 3px rgba(0,0,0,0.7);
	-webkit-border-radius: 0px 0px 3px 3px;
	-moz-border-radius: 0px 0px 3px 3px;
	border-radius: 0px 0px 3px 3px;
	color: rgb(150, 150, 150);
	text-align: center;
	line-height: 420px;
}

ul#piano li div.pressed
{
	position: relative;
	top: 0px;
	height: 216px;
	-webkit-box-shadow: 0px 2px 2px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 2px 2px rgba(0,0,0,0.4);
	box-shadow: 0px 2px 2px rgba(0,0,0,0.4);
}

ul#piano li div.pressed:before
{
	content: "";
	width: 0px;
	height: 0px;
	border-width: 216px 5px 0px;
	border-style: solid;
	border-color: transparent transparent transparent rgba(0,0,0,0.1);
	position: absolute;
	left: 0px;
	top: 0px;
}

ul#piano li div.pressed:after
{
	content: "";
	width: 0px;
	height: 0px;
	border-width: 216px 5px 0px;
	border-style: solid;
	border-color: transparent rgba(0,0,0,0.1) transparent transparent;
	position: absolute;
	right: 0px;
	top: 0px;
}

ul#piano li span
{
	position: absolute;
	top: 0px;
	left: -12px;
	width: 20px;
	height: 120px;
	background: rgb(50, 50, 50);
	background: -webkit-linear-gradient(-20deg, rgb(50, 50, 50), rgb(0, 0, 0), rgb(50, 50, 50));
	background: -moz-linear-gradient(-20deg, rgb(50, 50, 50), rgb(0, 0, 0), rgb(50, 50, 50));
	background: -ms-linear-gradient(-20deg, rgb(50, 50, 50), rgb(0, 0, 0), rgb(50, 50, 50));
	background: -o-linear-gradient(-20deg, rgb(50, 50, 50), rgb(0, 0, 0), rgb(50, 50, 50));
	background: linear-gradient(-20deg, rgb(50, 50, 50), rgb(0, 0, 0), rgb(50, 50, 50));
	z-index: 10;
	border-width: 1px 2px 7px;
	border-style: solid;
	border-color: rgb(150, 150, 150) #222 #111 #555;
	-webkit-box-shadow: inset 0px -1px 2px rgba(255,255,255,0.4),0 2px 3px rgba(0,0,0,0.4);
	-moz-box-shadow: inset 0px -1px 2px rgba(255,255,255,0.4),0 2px 3px rgba(0,0,0,0.4);
	box-shadow: inset 0px -1px 2px rgba(255,255,255,0.4),0 2px 3px rgba(0,0,0,0.4);
	-webkit-border-radius: 0 0 2px 2px;
	-moz-border-radius: 0 0 2px 2px;
	border-radius: 0 0 2px 2px;
	color: rgb(150, 150, 150);
	text-align: center;
	line-height: 220px;
}

ul#piano li span.pressed
{
	border-bottom-width: 2px;
	height: 123px;
	-webkit-box-shadow: inset 0px -1px 1px rgba(255,255,255,0.4),0 1px 0px rgba(0,0,0,0.8),0 2px 2px rgba(0,0,0,0.4),0 -1px 0px  rgb(0, 0, 0);
	-moz-box-shadow: inset 0px -1px 1px rgba(255,255,255,0.4),0 1px 0px rgba(0,0,0,0.8),0 2px 2px rgba(0,0,0,0.4),0 -1px 0px  rgb(0, 0, 0);
	box-shadow: inset 0px -1px 1px rgba(255,255,255,0.4),0 1px 0px rgba(0,0,0,0.8),0 2px 2px rgba(0,0,0,0.4),0 -1px 0px  rgb(0, 0, 0);
}
